<div class='card'>
    <div class='card-header'>
        {{pageTitle}}
    </div>
    <div class='card-body'>
        <h1>Employees</h1>
        <br>

        <div class="input-group mb-3">
            <input type="number" class="form-control" placeholder="Type Employee ID" aria-label="Type Employee ID"
                aria-describedby="basic-addon2" [(ngModel)]='employeeIdToSearch'>
            <div class="input-group-append">
                <button class="btn btn-outline-secondary" type="button" (click)='getEmployees()'>Search</button>
            </div>
        </div>
        <br>
        <div class="table-responsive">
            <table class="table" *ngIf='employees && employees.length'>
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">Id</th>
                        <th scope="col">Name</th>
                        <th scope="col">Contract Type</th>
                        <th scope="col">Role Id</th>
                        <th scope="col">Role Name</th>
                        <th scope="col">Role Description</th>
                        <th scope="col">Hourly Salary</th>
                        <th scope="col">Monthly Salary</th>
                        <th scope="col">Annual Salary</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor='let employee of employees'>
                        <td>{{employee.id}}</td>
                        <td>{{employee.name}}</td>
                        <td>{{employee.contractTypeName}}</td>
                        <td>{{employee.roleId}}</td>
                        <td>{{employee.roleName}}</td>
                        <td>{{employee.roleDescription}}</td>
                        <td>{{employee.hourlySalary | currency}}</td>
                        <td>{{employee.monthlySalary | currency}}</td>
                        <td>{{employee.annualSalary | currency}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="alert alert-primary" role="alert" *ngIf ='employeeNotFound'>
            Employees not found.
        </div>
        <div class="alert alert-danger" role="alert" *ngIf ='enableErrorMessage'>
            Error retrieving employees
        </div>
    </div>
</div>